<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
  crossorigin="anonymous">

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  
  <title>Tech Blog</title>

</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

      <h1>
        <a href="/form">MVC Tech Blog</a>
      </h1>

      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
                <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
                <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Post</a>
                <button id="logout" class="button is-danger">Logout</button>
                {{else}}
                <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
                <a href="/login" class="button is-primary">Login</a>
        {{/if}}
      </nav>

    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer>

      {{!-- <div class="card-body">
      <h5 class="card-title">Created by Joey Biñas</h5>
         <p class="card-text">Like what you see? Check out the rest of my portfolio!</p>
         <a href="https://github.com/joeytmab" class="btn btn-primary">Github</a>
      </div> --}}

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>